<div class="book-container">
  <!-- Book 1 -->

  {{#if books.length}} {{#each books}}
  <div class="book-item">
    <a href="/book/details/{{id}}">
      <img
        class="book-image"
        src="data:image/jpeg;base64,{{image}}"
        alt="{{title}}"
      />
      <div class="book-info">
        <p>{{title}}</p>
        <p>{{author}}</p>
        <p>¥{{price}}</p>
      </div>
    </a>
  </div>
  {{/each}} {{else}}
  <p>本がありません。</p>
  {{/if}}
</div>
