<div class="list-trash-container">
  <h1 class="list-books-title">書籍のごみ箱</h1>
  {{#if errMessage}}
  <div class=""><p style="color: red;">{{errMessage}} </p></div>
  {{/if}}
  <div class="">
    <a class="btn btn-primary" href="/book/list">書籍のリスト</a>
  </div>
  {{#if books.length}}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">イメージ</th>
        <th scope="col">タイトル</th>
        <th scope="col">著者</th>
        <th scope="col">行動</th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
        <tr>
          <td class="td-image">
      <a href="/book/book-details/{{this.id}}" class="details-button">
            <img
            class="list-image"
              src="data:image/png;base64,{{this.image}}"
              alt="{{this.title}}"
            />
          </td>
      </a>
          <td class="td-title">
      <a href="/book/book-details/{{this.id}}" class="details-button">
            {{this.title}}</a> </td>
          <td class="td-author">{{this.author}}</td>
          <td class="td-button">
            <form action="/book/restore/{{this.id}}" method="POST">
              <button type="submit" class="list-restore-button">回復</button>
            </form>
            <form action="/book/destroy/{{this.id}}" method="POST">
              <button type="submit" class="list-delete-button">削除</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>{{message}}</p> 
{{/if}}
</div>
