<div class="list-books-container">
  <div class="list-books-left">
    
    <div class="list-books-btn">
      <a class="btn btn-primary" href="/book/create-new-book">書籍アップロード</a>
      <a class="btn btn-secondary" href="/book/trash-book">書籍のゴミ箱</a>
    </div>
    <div class="search-bar">
      <form action="/book/search" method="GET">
        <div class="form-group">
          <label for="keyword">検索:</label>
          <input type="text" id="keyword" name="keyword" placeholder="検索..." value="{{query.keyword}}"/>
          </div>
        <div class="form-group">
          <label for="categoryId" >カテゴリー:</label>
          <select id="categoryId" name="categoryId" required >
            <option value="all" {{#ifEquals query.categoryId "all"}} selected {{/ifEquals}} >すべてのカテゴリ</option>
            {{#each categories}}
            <option  value=" {{this.id}}"
            {{#ifEquals ../query.categoryId this.id}} selected {{/ifEquals}}
            >{{this.name}}</option>
            {{/each}}
          </select>
        </div> 
        <div class="form-group">
          <label for="status">読書状況:</label>
          <select id="status" name="status" >
            <option value="all" {{#ifEquals query.status "all"}}selected{{/ifEquals}}>全て</option>
            <!--未読 -->
            <option value="未読" {{#ifEquals query.status "未読"}}selected{{/ifEquals}}>未読</option>
            <!-- 読書中 -->
            <option value="読書中" {{#ifEquals query.status "読書中"}}selected{{/ifEquals}}>読書中</option>
            <!-- 読了 -->
            <option value="読了"{{#ifEquals query.status "読了"}}selected{{/ifEquals}}>読了</option>
          </select>
        </div>
        <div class="form-group">
          <label for="owned">所有:</label>
          <select id="owned" name="owned" >
            <option value="all" {{#ifEquals query.owned "all"}}selected{{/ifEquals}}>全て</option>
            <option value="0" {{#ifEquals query.owned "0"}}selected{{/ifEquals}}>未所有</option>
            <option value="1" {{#ifEquals query.owned "1"}}selected{{/ifEquals}}>所有</option>
          </select>
        </div>
        <div class="form-group"><button type="submit">検索</button></div>
      </form>
    </div>
    
    <div class="sort-bar">
      <form action="/book/list" method="GET">
        <div class="sort-list">
          <label for="sort-title-asc">
            <input type="radio" name="sortOption" value="title_ASC"
            {{#if (and (eq sortField 'title') (eq sortOrder 'ASC'))}} checked {{/if}} />
            名前の昇順
          </label>
          <label for="sort-title-desc">
            <input type="radio" name="sortOption" value="title_DESC"
            {{#if (and (eq sortField 'title') (eq sortOrder 'DESC'))}} checked {{/if}} />
          名前の降順 
          </label>
          <label for="sort-createdAt-asc">
            <input type="radio" name="sortOption" value="createdAt_ASC"
            {{#if (and (eq sortField 'createdAt') (eq sortOrder 'ASC'))}} checked {{/if}} />
          時間の昇順
          </label>
          <label for="sort-createdAt-desc">
            <input type="radio" name="sortOption" value="createdAt_DESC"
            {{#if (and (eq sortField 'createdAt') (eq sortOrder 'DESC'))}} checked {{/if}} />
          時間の降順
          </label>
        </div>
        <div class="form-group"><button type="submit">並び替え</button></div>
      </form>
    </div>
  </div>
  <div class="list-books-right">
    <h1 class="list-books-title">書籍のリスト</h1>
    
    {{#if errMessage}}
    <div class="list-book-message"><h2>{{errMessage}} </h2></div>
    {{/if}}
    {{#if books.length}}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">イメージ</th>
          <th scope="col">タイトル</th>
          <th scope="col">著者</th>
          <th scope="col">行動</th>
        </tr>
      </thead>
      <tbody>
        {{#each books}}
          <tr>
            <td class="td-image">
        <a href="/book/book-details/{{this.id}}" class="details-button">
              <img
              class="list-image"
                src="data:image/png;base64,{{this.image}}"
                alt="{{this.title}}" />
        </a>
            </td>
            <td class="td-title">
        <a href="/book/book-details/{{this.id}}" class="details-button">
              {{this.title}}</a> 
              </td>
            <td class="td-author">{{this.author}}</td>
            <td class="td-button">
              <form action="/book/edit/{{this.id}}" method="GET">
                <button type="submit" class="list-edit-button">編集</button>
              </form>
              <form action="/book/delete/{{this.id}}" method="POST">
                <button type="submit" class="list-delete-button">消す</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if (gt totalPages 1)}}
    <nav class="pagination">
      <ul>
        {{#each (range 1 totalPages)}}
        <li class="{{#ifEquals ../currentPage this}}active{{/ifEquals}}">
          <a href="?page={{this}}&limit=10">{{this}} </a>
        </li>
        {{/each}}
      </ul>
    </nav>
    {{/if}}
    {{else}}
    <p>{{message}}</p>
  {{/if}}
  </div>
</div>
