<div class="list-books-container">
  <h1 class="list-books-title">List of Books</h1>
  <div class="search-bar">
    <form action="/book/search" method="GET">
      <input type="text" name="keyword" placeholder="Search books..." />
      <button type="submit">Search</button>
    </form>
  </div>
  {{#if errMessage}}
  <div class=""><p style="color: red;">{{errMessage}} </p></div>
  {{/if}}
  <div class="">
    <a href="/book/trash-book">Deleted books</a>
  </div>
  <div class="sort-bar">
    <form action="/book/list" method="GET">
      <div class="sort-list">
        <label for="sort-title-asc">
          <input type="radio" name="sortOption" value="title_ASC"
          {{#if (and (eq sortField 'title') (eq sortOrder 'ASC'))}} checked {{/if}} />
          名前の昇順
        </label>
        <label for="sort-title-desc">
          <input type="radio" name="sortOption" value="title_DESC"
          {{#if (and (eq sortField 'title') (eq sortOrder 'DESC'))}} checked {{/if}} />
        名前の降順 
        </label>
        <label for="sort-createdAt-asc">
          <input type="radio" name="sortOption" value="createdAt_ASC"
          {{#if (and (eq sortField 'createdAt') (eq sortOrder 'ASC'))}} checked {{/if}} />
        時間の昇順
        </label>
        <label for="sort-createdAt-desc">
          <input type="radio" name="sortOption" value="createdAt_DESC"
          {{#if (and (eq sortField 'createdAt') (eq sortOrder 'DESC'))}} checked {{/if}} />
        時間の降順
        </label>
      </div>
      <div><button type="submit">並び替え</button></div>
    </form>
  </div>
  {{#if books.length}}
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">image</th>
        <th scope="col">title</th>
        <th scope="col">author</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
        <tr>
          <td class="td-image">
      <a href="/book/book-details/{{this.id}}" class="details-button">
            <img
            class="list-image"
              src="data:image/png;base64,{{this.image}}"
              alt="{{this.title}}" />
      </a>
          </td>
          <td class="td-title">
      <a href="/book/book-details/{{this.id}}" class="details-button">
            {{this.title}}</a> 
            </td>
          <td class="td-author">{{this.author}}</td>
          <td class="td-button">
            <form action="/book/edit/{{this.id}}" method="GET">
              <button type="submit" class="list-edit-button">Edit</button>
            </form>
            <form action="/book/delete/{{this.id}}" method="POST">
              <button type="submit" class="list-delete-button">Delete</button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>{{message}}</p>
{{/if}}
</div>
